.main__advantages {
  margin-bottom: 180px;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  &-item + &-item {
    margin-top: 160px;
  }

  &-left {
    width: 445px;
  }

  &-heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }

  &-desc {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
}