.main__hero {
  background-image: url(../images/bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;


  &-left {
    padding-top: 153px;
    padding-bottom: 152px;
  }

  &-heading {
    width: 500px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
  }

  &-desc {
    margin-left: 95px;
    width: 405px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
  }

  &-btn {
    margin-left: 95px;
  }

  &-btn:hover {
    background-color: transparent;
  }

  &-btn:active {
    background-color: transparent;
  }

}

@media only screen and (max-width: 768px) {
  .main__hero {
    background-image: url(../images/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-left {
      padding-top: 137px;
      padding-bottom: 217px;
    }

    &-heading {
      width: 573px;
      text-align: center;
      margin: 0 auto;
    }

    &-desc {
      width: 573px;
      text-align: center;
      margin: 0 auto;
    }

    &-btn {
      margin-left: 210px;
    }
  }


}


@media only screen and (max-width: 375px) {
  .main__hero {
    background-image: url(../../images/Bitmapmobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-left {
      padding-top: 115px;
      padding-bottom: 179px;
    }

    &-heading {
      width: 311px;
      text-align: center;
      margin: 0 auto;
    }

    &-desc {
      width: 311px;
      text-align: center;
      margin: 0 auto;
    }

    &-btn {
      margin-left: 80px;
    }
  }
}